<!DOCTYPE html> 
<html> 
	<head> 
	<title>%TITLE%</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
%CSS%
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
%JS%
</head> 
<body> 
<div data-role="dialog">
	<style>
		.ui-dialog  .ui-header .ui-btn-icon-notext  { display:none;}
	</style>
	<div data-role="header" data-theme="d">
		<h1></h1>
	</div>
	<div data-role="content">	
		%CONTENT%			
	</div>
</div>
</body>
</html>
